.container {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000; */

  width: 700px;
}
.home {
  margin: auto 0;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  padding-right: 60px;
  background: rgb(121, 202, 216);
}
.memory {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-size: 28px;
  padding-left: 120px;
  align-items: center;
}
.container h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  color: blue;
  font-style: italic;
  font-weight: solid;
  font-size: 28px;
}
.container p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-style: italic;
  font-size: 25px;
  color: black;
  font-weight: bold;
}
.lgn {
  padding-right: 30px;
}
.bg_home {
  text-align: center;
  background: rgb(90, 141, 128);
}
.homeImg {
  padding: 20px 0 20px 0;
  width: 60%;
  height: 50%;
}

@media screen and(max-width: 800px) {
  .homeImg {
    width: 30%;
    height: 25%;
  }
  .memory {
    color: rgb(228, 27, 27);
    font-style: italic;
    font-size: 16px;
    align-items: center;
  }
  .lgn {
    font-size: 16px;
  }
}
