.register {
  border-radius: solid black;
  list-style: none;

  height: calc(110vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(214, 179, 179, 0.5),
      rgba(184, 142, 142, 0.5)
    ),
    url("../../../image/XSRl.gif");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 10px;
  cursor: pointer;
  background-color: teal;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.registerLoginButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: lightcoral;
  cursor: pointer;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 20px;
  font-family: "Times New Roman", Times, serif;
}

.Link {
  font-family: "Times New Roman", Times, serif;
}
